/* колір первинного текст #757575;
/* колір вторинного тексту #212121;*/
/* білий колір #FFFFFF; */
/* колір акценту #2196F3; */
/* первинний фоновий колір #E5E5E5; */
/* колір логотипу #000000; */
/* футер текст контактів rgba(255, 255, 255, 0.6); */
/* футер background #2F303A; */
/* section-time background  #f5f4fa; */

/* Стилі - головна сторінка */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
}
body {
  background: var(--primary-bg-color);
  color: var(--title-text-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03;
}
.list {
  list-style: none;
}

/* header */

.top-line-bg {
  background: #ffffff;
}
.logo {
  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.accent {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav a:hover,
.auth-nav a:focus,
.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.carrent {
  color: var(--accent-color);
}

/* Main */

.hero {
  background: #2f303a;
}
.hero .title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.feature-liste .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-liste .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
}
.occupation .title,
.section-team .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.section-team {
  background: #f5f4fa;
}
.team-liste .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}
.team-liste .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* Footer */

.footer-bg {
  background: #2f303a;
}
.site-add .link {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
.site-add .mail,
.site-add .tel {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
/* button */

.button-hero {
  color: #ffffff;
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Стилі - портфоліо */

.portfolio-main {
  background: #eeeeee;
}
.button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  border-radius: 4px;

  /* width: 128px;
  height: 38px;
  left: 576px;
  top: 174px; */
}
.button:hover {
  color: #ffffff;
  background: var(--accent-color);
  font-family: inherit;
}
.button:focus {
  color: #ffffff;
  background: var(--accent-color);
}
.projects .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
